body {
    width: 100%;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-cards {
    margin: 1rem;
    width: 25%;
    flex-wrap: wrap;
}

.recipe-cards img {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
