@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
    background-color: aliceblue;
}

h1 {
    font-family: "Pacifico", cursive;
}

.loginContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 0 20px 8px #d0d0d0;
    padding: 5%;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#username,
#password {
    padding: 5%;
    margin: 3%;
}

.loginButton {
    padding: 3%;
    width: 75%;
    margin-top: 4%;
}

.loginLink,
.dashboardLink {
    text-decoration: none;
}

.error-message {
    color: red;
}
